:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #ffffff;
  --hover-color: #2196f3;
  --background-color: #f5f4fa;
  --background: #2f303a;
  --contacs-color: rgba(255, 255, 255, 0.6);
  --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --background-icon-color: #f5f4fa;
  --icon-color: #afb1b8;
  --background-footer-icon-color: rgba(255, 255, 255, 0.1);
}
/* Общие стили */
body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /*outline: 2px solid tomato;*/
  box-sizing: border-box;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* Heder */
.heder {
  padding-top: 25px;
  padding-bottom: 25px;
}
.heder-container {
  display: flex;
  align-items: center;
}
.logo {
  color: var(--hover-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.black-logo {
  color: var(--primary-text-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo-footer {
  color: var(--accent-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
/* Site navigation */
.nav {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
}
.site-nav-item {
  margin-left: 50px;
}
.site-nav a {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav a:hover,
.site-nav a:focus {
  color: var(--hover-color);
}
.site-nav .current {
  color: var(--hover-color);
}
.auto-nav {
  display: flex;
  margin-left: auto;
}
.auto-list-item {
  margin-left: 50px;
}
.auto-nav a {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.auto-nav a:hover,
.auto-nav a:focus {
  color: var(--hover-color);
}

.auto-list-item::before {
  background-image: url("../imeges/icons.svg.svg#icon-envelope-hover-1");
}

/*  Hero section */

.hero {
  background: var(--background);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../imeges/hero-bg.jpg);
}

.hero .section {
  text-align: center;
}

.hero-title {
  color: var(--accent-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  width: 696px;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
.button {
  border-radius: 4px;
  padding: 10px 32px;

  color: var(--accent-color);
  background-color: var(--hover-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  cursor: pointer;
}

/* Section 2 */
.work-list {
  display: flex;
  align-items: center;
  margin-left: -30px;
}
.work-list .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.work-list .paragraph {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.7;
}
.work-item {
  margin-left: 30px;
}

.work-item::before {
  display: flex;
  content: "";
  height: 120px;
  background-color: var(--background-icon-color);
  border-radius: 4px;
  margin-bottom: 30px;
}
.icon-antenna::before {
  background-image: url("../imeges/icons.svg.svg#icon-antenna-1-1");
}
.icon-clock::before {
  background-image: url("../imeges/icons.svg.svg#icon-clock-1-1");
}
.icon-diagram::before {
  background-image: url("../imeges/icons.svg.svg#icon-diagram-1-1");
}
.icon-astronaut::before {
  background-image: url("../imeges/icons.svg.svg#icon-astronaut-1-1");
}
.title {
  margin-bottom: 10px;
}

/* Section 3 */

.part {
  padding-top: 0px;
}

.work {
  display: flex;
  align-items: center;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 0.85;
  text-align: center;
  padding-bottom: 50px;
}

.exmp-item {
  margin-left: 30px;
}
.exmp-item:first-child {
  margin-left: 0px;
}

/* Section 4 */

.section-team {
  background-color: #f5f4fa;
}
.container-section {
  margin-top: 0px;
}
.team-list {
  display: flex;
  align-items: center;
}

.team-kart {
  width: 270px;
  height: 428px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-left: 30px;
  background-color: var(--accent-color);
}

.team-list .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
}
.team-list .paragraph {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.9;
  margin-bottom: 16px;
}

.team-item {
  margin-right: 30px;
}

.team-list-content {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-item + .social-item {
  margin-left: 10px;
}
.social-link {
  width: 44px;
  height: 44px;
  background-color: var(--accent-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--icon-color);
}

.social-icon {
  fill: currentColor;
}

.social-link:hover,
.social-link:focus {
  background-color: var(--hover-color);
  color: #ffffff;
}

/* Section5 */

.client-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.client-link {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  margin-left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color);
  color: var(--icon-color);
}

.client-icon {
  fill: currentColor;
}

.client-link:hover,
.client-link:focus {
  border-color: var(--hover-color);
  color: var(--hover-color);
}

/* Footer */
.footer {
  background: var(--background);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-nav a {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}
.footer-nav .adress {
  color: var(--accent-color);
}
.footer-nav .contacts {
  color: var(--contacs-color);
}
.footer-nav a:hover,
.footer-nav a:focus {
  color: var(--hover-color);
}

.footer-nav-margin {
  margin-bottom: 9px;
}

.footer-pdng {
  display: flex;
  align-items: baseline;
}

.footer-social-pdng {
  margin-left: 70px;
  padding-top: 8px;
}
.footer-social-name {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
  padding-bottom: 20px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-social-link {
  width: 44px;
  height: 44px;
  background-color: var(--background-footer-icon-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--accent-color);
  margin-left: 10px;
}

.footer-social-icon {
  fill: currentColor;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--hover-color);
}

/* Portfolio */

#heading {
  display: block;
}

.button-secondary {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 56px;
}

.btn-item {
  display: flex;
  margin-right: 8px;
}

.button-secondary .line:hover,
.button-secondary .line:focus {
  color: var(--accent-color);
  background: var(--hover-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.line {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  border-radius: 4px;
  padding: 6px 22px;
}

.job-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.job-item {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  width: calc(100% / 3 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
}
.card {
  width: 370px;
  box-shadow: var(--card-shadow);
}

.card:hover,
.card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card-content {
  padding: 20px 24px;
}

.heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.rubric {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.87;
}

.logo-pdng {
  padding-bottom: 20px;
}
