:root{
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --accent-color: #FFFFFF;
    --hover-color: #2196F3;
    --background-color: #F5F4FA;
    
}



body{
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

.list{
    list-style: none;
}

/* Heder */
.logo{
    color: var(--hover-color);
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

/* Site navigation */
.site-nav a{
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.site-nav a:hover , 
.site-nav a:focus{
    color: var(--hover-color);
}
.site-nav .current{
    color: var(--hover-color);
}

.auto-nav a{
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.auto-nav a:hover,
.auto-nav a:focus{
    color: var(--hover-color);
}

/*  Hero section */

.hero-title{
    color: var(--accent-color);
}

/* Section 2 */

.work-list .title{
    color: var(--primary-text-color) ;
}
.work-list .paragraph{
    color: var(--title-text-color);
}

/* Section 3 */

.section-title{
    color: var(--primary-text-color);
}

/* Section 4 */

.team-list .title {
    color: var(--primary-text-color);
}
.team-list .paragraph{
    color: var(--title-text-color);
}



/* Portfolio */

.button-secondary a{
    color:var(--primary-text-color);
    background:var(--background-color);
}
.button-secondary :hover,
.button-secondary :focus{
    background: var(--hover-color);
}