.heder {
  padding-top: 25px;
  padding-bottom: 25px;
}
.heder-container {
  display: flex;
  align-items: center;
}
.lines {
  width: 100%;
  height: 0px;
  border: 1px solid #ececec;
  margin-top: 25px;
}
